@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');

/* Basic resets */

html,body,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,input,select,textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

img{
  height: auto;
  max-width: 100%;
}

@font-face {
    font-family: 'pacifico';
    src: url('../font/pacifico.ttf');
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat.ttf');
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  min-height: 550px;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  overflow-x: hidden;
}

header{
  background: #152C81;
  color: #ffffff;
  padding-top: 0px;
  min-height: 103px;
  border-bottom: #FF7F00 3px solid;
}

header h1{
  font-family: 'pacifico';
}

header span{
  font-family: 'pacifico'
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  padding: 0 20px 0 20px;
  display: inline;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;

  position: relative;
  font-size: 37px;
  top: 10px;
  left: 91px;
}

header nav{
  float:right;
  margin-top: 10px;
  font-family: 'Roboto';
  margin-top: 28px;
  margin-right: 150px;
}

header .highlight, header .current a{
  color: #FF7F00;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

header button{
  background-color: #152C81;
  color: white;
  font-family: 'Roboto';
  padding: 5px 8px 5px 8px;
  margin-bottom: 14px;
  border: 1px solid white;
}

header button:hover{
  background-color: #FF7F00;
  color: white;
  border:none;
}

div.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

div.wrapper div.form-wrapper {
  width: 30%;
  min-width: 300px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  /* background: rgba(51, 89, 222, 0.1); */
  background: rgba(158, 158, 158, 0.2);
  color: #152C81;
}

div.form-wrapper form div.form-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin: 5px;
  margin-bottom: 13px;
}

form div.input-wrapper {
  margin: 10px 0px;
  position: relative;
}

div.input-wrapper p.info {
  position: absolute;
  bottom: -6px;
  left: 0px;
  font-size: 11px;
  color: green;
  font-weight: 600;
}

div.input-wrapper label.input-wrapper{
  display: block;
  font-size: 14px;
  font-weight: 600;  
}

div.input-wrapper textarea.input,
div.input-wrapper input.input {
  width: 100%;
  padding: 9px;
  font-size: 13px;
  letter-spacing: 1px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  resize: none;
  outline: none;
}

div.input-wrapper .input::-webkit-input-placeholder {
  color: #ccc;
}

div.input-wrapper input[type="file"]{
  padding: 6px;
  background: #fff;
  margin-bottom: 6px;
}

form div.form-btn {
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
}

div.form-btn button.btn-submit {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background: #3359DE;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
